<div class="content">
  <div class="color-index">
    <div class="boxes">
      <div class="answered-box"><span>&#10004;</span></div>
      <span>Answered Questions</span>
    </div>
    <div class="boxes">
      <div class="wrong-answered-box"><span>&#10067;</span></div>
      <span>Unanswered Questions</span>
    </div>
    <div class="boxes">
      <div class="review-box"><span>&#9998;</span></div>
      <span>Marked For Reviewed</span>
    </div>
  </div>
  <div class="container">
    <div>
      <countdown class="countDown" [ngClass]="{'more-time' : !isLessTimeLeft, 'less-time' : isLessTimeLeft}"
                 [config]="{leftTime: 300, notify: [ 60 ]}"
                 (notify)="onNotify()"
                 (finished)="onFinishQuiz()">$!h!:$!m!:$!s!
      </countdown>
    </div>
    <div>
      <div class="col-sm-8 col-sm-offset-2">
        <span class="user-heading"> Hi, {{userData.firstName}}!</span>
        <button class="logout-button" mat-raised-button color="warn" (click)="onLogout()">Logout</button>
        <div>
          <h3 class="quiz-heading">Quiz for Angular</h3>
        </div>
        <div *ngFor="let quiz of singleQuestion">
          <div class="question-box">
            <span
              class="question-text">{{(quiz['quizObj']['questionId']+1) + '.) ' + quiz['quizObj']['question']}}</span>
          </div>

          <!-- Multiple choice questions OR True/false questions -->
          <div *ngIf="(quiz['quizObj']['questionType'] === questionType.MULTIPLE_CHOICE)
          || (quiz['quizObj']['questionType'] === questionType.TRUE_FALSE)">
            <app-multiple-choice [quiz]="quiz"
                                 (updatedAnswerObject)="onUpdatingAnswerArray($event)">
            </app-multiple-choice>
          </div>

          <!-- Multiple selection/checkbox questions -->
          <div *ngIf="quiz['quizObj']['questionType'] === questionType.MULTIPLE_ANSWER_SELECTION">
            <app-checkbox [quiz]="quiz"
                          (updatedAnswerObject)="onUpdatingAnswerArray($event)"></app-checkbox>
          </div>

          <!-- Descriptive questions -->
          <div *ngIf="quiz['quizObj']['questionType'] === questionType.DESCRIPTIVE">
            <app-descriptive [quiz]="quiz"
                             (updatedAnswerObject)="onUpdatingAnswerArray($event)"></app-descriptive>
          </div>

          <!-- Drop down type questions -->
          <div *ngIf="(quiz['quizObj']['questionType'] === questionType.DROP_DOWN)">
            <app-drop-down [quiz]="quiz"
                           (updatedAnswerObject)="onUpdatingAnswerArray($event)"></app-drop-down>
          </div>

          <!-- Linear scale question type -->
          <div *ngIf="(quiz['quizObj']['questionType'] === questionType.LINEAR_SCALE)">
            <app-linear-scale [quiz]="quiz"
                              (updatedAnswerObject)="onUpdatingAnswerArray($event)"></app-linear-scale>
          </div>

          <!-- Multi choice grid questions -->
          <div *ngIf="(quiz['quizObj']['questionType'] === questionType.MULTI_CHOICE_GRID)">
            <div *ngFor="let ques of quiz['quizObj']['questionArray']; trackBy :trackByIdx; let i=index">
              <span>{{ques['questionRow']}}</span>
              <mat-radio-group [(ngModel)]="ques[i]"
                               (change)="onChangeOption(ques,i)">
                <mat-radio-button class="example-radio-button"
                                  *ngFor="let option of quiz['quizObj']['options']"
                                  [value]="option" [checked]="checkMultiChoiceGridSelectedOption(option, ques)">
                  {{option.option}}
                </mat-radio-button>
              </mat-radio-group>
            </div>
          </div>

          <!-- checkbox grid questions -->
          <div *ngIf="(quiz['quizObj']['questionType'] === questionType.CHECKBOX_GRID)">
            <div *ngFor="let ques of quiz['quizObj']['questionArray']; trackBy :trackByIdx; let i=index">
              <span>{{ques['questionRow']}}</span>
              <div *ngFor="let option of quiz['quizObj']['options']">
                <mat-checkbox class="example-section"
                              (change)="onCheckOption($event.checked,ques,option)"
                              [value]="option"
                              [checked]="checkCheckBoxGridSelectedOption(option, ques)">{{option.option}}
                </mat-checkbox>
              </div>
            </div>
          </div>

          <!-- Date question type -->
          <div *ngIf="(quiz['quizObj']['questionType'] === questionType.DATE)">
            <mat-form-field>
              <input (click)="picker.open()" autocomplete="off" matInput
                     [matDatepicker]="picker" placeholder="Choose a date"
                     [formControl]="selectedDate">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>

          <!-- Time question type -->
          <div *ngIf="quiz['quizObj']['questionType'] === questionType.TIME">
            <input atp-time-picker [formControl]="selectedTime" (click)="openTimer()">
          </div>

          <div class="previous-button">
            <button mat-raised-button color="primary" [disabled]="quiz['quizObj']['questionId'] === 0"
                    (click)="getQuestions(quiz['quizObj']['questionId'] - 1, quiz)">Previous
            </button>
            <div class="next-button">
              <button mat-raised-button color="{{finishQuizButton}}"
                      (click)="getQuestions(quiz['quizObj']['questionId'] + 1, quiz)">
                {{quizList.length === (quiz['quizObj']['questionId']+1) ? 'Finish' : 'Next'}}
              </button>
            </div>
          </div>
          <div>
            <mat-checkbox class="example-section"
                          (change)="onChangeMarkedForReviewStatus(quiz,$event)"
                          [checked]="quiz['isMarked']">Marked for review
            </mat-checkbox>
          </div>
          <div class="all-questions">
        <span class="single-box" *ngFor="let quizId of answersArray"
              [ngClass]="{'review-marked': quizId['isMarked'], 'answered' : getAnswerStatus(quizId),
               'not-answered' :getNotAnswerStatus(quizId)}"
              (click)="getQuestions(quizId['quizObj']['questionId'], quiz)">
          {{quizId['quizObj']['questionId'] + 1}}
        </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
