<div class="content">
  <div class="container">
    <div>
      <countdown class="countDown" [ngClass]="{'more-time' : !isLessTimeLeft, 'less-time' : isLessTimeLeft}"
                 [config]="{leftTime: 36000, notify: [ 60 ]}"
                 (notify)="onNotify()"
                 (finished)="onFinished()">$!m!:$!s!
      </countdown>
    </div>
    <div>
      <div class="col-sm-8 col-sm-offset-2">
        <span class="user-heading"> Hi, {{userData.firstName}}!</span>
        <button class="logout-button" mat-raised-button color="warn" (click)="onLogout()">Logout</button>
        <div>
          <h3 class="quiz-heading">Quiz for Angular</h3>
        </div>
        <div *ngFor="let quiz of singleQuestion">
          <div class="question-box">
            <span class="question-text">{{(quiz.questionId+1) + '.) ' + quiz.question}}</span>
          </div>
          <div>
            <mat-radio-group class="example-radio-group" [formControl]="selectedOption">
              <mat-radio-button class="example-radio-button" *ngFor="let option of quiz.options"
                                [value]="option">
                {{option.option}}
              </mat-radio-button>
            </mat-radio-group>
          </div>
          <div class="previous-button">
            <button mat-raised-button color="primary" [disabled]="quiz.questionId === 0"
                    (click)="getQuestions(quiz.questionId - 1, quiz)">Previous
            </button>
            <div class="next-button">
              <button mat-raised-button color="{{finishQuizButton}}"
                      (click)="getQuestions(quiz.questionId + 1, quiz)">
                {{quizList.length === (quiz.questionId+1) ? 'Finish' : 'Next'}}
              </button>
            </div>
          </div>
          <div class="all-questions">
        <span class="single-box" *ngFor="let quizId of quizList"
              [ngClass]="{'answered' : false, 'not-answered' : false, 'review-marked': false}"
              (click)="getQuestions(quizId['questionId'], quiz)">
          {{quizId['questionId'] + 1}}
        </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
