.content {
  background-color: #eee;
  height: 100%;
  width: 100%;
  padding: 48px 0px 48px 0px;
}

.container {
  margin-right: 10%;
  margin-left: 30%;
  padding-left: 15px;
  padding-right: 15px;
}

.title-input {
  width: 65%;
}

.question-area {
  padding-top: 30px;
}

.option-input {
  width: 35%;
}

.option-button {
  margin: 5px;
}

.add-button {
  float: right;
  margin: 5px;
}

.question-fieldset {
  margin: 10px;
}
