<div class="login-content">
  <div class="error-message" *ngIf="message">
    {{message}}
  </div>
  <div class="col-md-6 col-md-offset-3 ng-scope">
    <form [formGroup]="registrationForm" (submit)="onSubmitRegistration(registrationForm)">
      <h1 class="header">Registration</h1>
      <br>
      <div class="example-container">
        <mat-form-field>
          <input #firstName matInput placeholder="Enter your first name" formControlName="firstName">
          <mat-error class="error" *ngIf="!(firstNameField.valid) && firstNameField.touched">First name is required
          </mat-error>
        </mat-form-field>
      </div>
      <br><br>
      <div class="example-container">
        <mat-form-field>
          <input matInput placeholder="Enter your last name" formControlName="lastName">
          <mat-error class="error" *ngIf="!(lastNameField.valid) && lastNameField.touched">Last name is required
          </mat-error>
        </mat-form-field>
      </div>
      <br><br>
      <div class="example-container">
        <mat-form-field>
          <input matInput placeholder="Enter your username" formControlName="username">
          <mat-error class="error" *ngIf="!(userNameField.valid) && userNameField.touched">Username is required
          </mat-error>
        </mat-form-field>
      </div>
      <br><br>
      <div class="example-container">
        <mat-form-field>
          <input type="password" matInput placeholder="Enter your password" formControlName="password">
          <mat-error class="error" *ngIf="!(passwordField.valid) && passwordField.touched">Password is required
          </mat-error>
        </mat-form-field>
      </div>
      <br>
      <div>
        <button type="submit" class="submit-button" [disabled]="registrationForm.invalid" mat-raised-button
                color="primary">Submit
        </button>
        <a routerLinkActive="active" [routerLink]="login">Cancel</a>
      </div>
      <br>
    </form>
  </div>
</div>
