<div class="content">
  <div class="container">
    <div>
      <div class="col-sm-8 col-sm-offset-2">
        <span class="user-heading"> Hi, {{userData.firstName}}!</span>
        <button class="logout-button" mat-raised-button color="warn" (click)="onLogout()">Logout</button>
        <div>
          <h3 class="quiz-heading" *ngIf="answerArray.length !== 0">You got {{points}} Points</h3>
        </div>

        <div class="no-attempt" *ngIf="answerArray.length === 0">
          <h1>Please complete quiz before accessing this page, Thank you.</h1>
          <button mat-raised-button color="primary" (click)="onClickQuiz()">Take Quiz</button>
        </div>

        <div *ngIf="answerArray.length !== 0">
          <div *ngFor="let quiz of answerArray">
            <div class="question-box">
            <span
              class="question-text">{{(quiz['quizObj']['questionId']+1) + '.) ' + quiz['quizObj']['question']}}</span>
            </div>
            <div *ngIf="getAttemptStatus(quiz)"
                 [ngClass]="{'right-answer' : getAnswerStatus(quiz),
               'wrong-answer' : !(getAnswerStatus(quiz)),
               'text-answer' : isDescriptiveType(quiz)}">

              <div *ngIf="(quiz['quizObj']['questionType'] === questionType.DESCRIPTIVE) ||
              (quiz['quizObj']['questionType'] === questionType.LINEAR_SCALE) ||
              (quiz['quizObj']['questionType'] === questionType.TIME)">
                <span>Your Answer:</span>
                <div>
                  <span>{{quiz['selectedOption']['answer']}}</span>
                </div>
              </div>

              <div *ngIf="(quiz['quizObj']['questionType'] === questionType.MULTI_CHOICE_GRID)">
                <div class="multi-question-box" *ngFor="let option of quiz['selectedOption']">
                  <div>
                    <span>Question: {{option['questionRow']['questionRow']}}</span>
                  </div>
                  <div>
                    <span *ngIf="option['selection']">
                    Your Answer: {{option['selection']['option']}}
                    </span>
                    <span *ngIf="!(option['selection'])">
                    You have not attempted this question.
                    </span>
                  </div>
                </div>
              </div>

              <div *ngIf="(quiz['quizObj']['questionType'] === questionType.DATE)">
                <span>Your Answer:</span>
                <div>
                  <span>{{quiz['selectedOption']['answer'] | date:'MMMM d, y'}}</span>
                </div>
              </div>

              <div *ngIf="((quiz['quizObj']['questionType'] === questionType.TRUE_FALSE) ||
              (quiz['quizObj']['questionType'] === questionType.MULTIPLE_CHOICE) ||
              (quiz['quizObj']['questionType'] === questionType.MULTIPLE_ANSWER_SELECTION) ||
              (quiz['quizObj']['questionType'] === questionType.DROP_DOWN))">

                <div class="incorrect-answer-section"
                     *ngIf="!(getAnswerStatus(quiz)) &&
                     ((quiz['quizObj']['questionType'] === questionType.TRUE_FALSE) ||
                      (quiz['quizObj']['questionType'] === questionType.MULTIPLE_CHOICE) ||
                     (quiz['quizObj']['questionType'] === questionType.DROP_DOWN))">
                  <span>You answered incorrectly, your answer:</span>
                  <div>
                    <span>{{quiz['selectedOption']['option']}}</span>
                  </div>
                </div>

                <div class="incorrect-answer-section"
                     *ngIf="!(getAnswerStatus(quiz)) &&
                     (quiz['quizObj']['questionType'] === questionType.MULTIPLE_ANSWER_SELECTION)">
                  <span>You answered incorrectly, your answer:</span>
                  <div *ngFor="let option of quiz['selectedOption']">
                    <span>{{option['option']}}</span>
                  </div>
                </div>

                <div>
                  <span>Correct Answer:</span>
                  <div *ngFor="let option of quiz['quizObj']['options']">
                    <span *ngIf="option['isAnswer']">{{option['option']}}</span>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="!(getAttemptStatus(quiz))" class="no-answer">
              <span>You have not attempted this question.</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
