.login-content {
  background-color: #eee;
}

.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 50%;
  margin: 0 auto;
}

.submit-button {
  margin-left: 25%;
}

a {
  margin-left: 5%;
}

.error {
  color: red;
}

.form-field {
  font-weight: bold;
}

.col-md-6 {
  width: 50%;
}

.col-md-offset-3 {
  margin-left: 25%;
}

.login-header {
  text-align: center;
}

.error-message {
  text-align: center;
  margin: 0 auto;
  width: 35%;
  background-color: #f2dede;
  color: #a94442;
  height: 30px;
  line-height: 30px;
  border: 1px solid #ebccd1;
}

.success-message {
  text-align: center;
  margin: 0 auto;
  width: 35%;
  background-color: #dff0d8;
  color: #3c763d;
  height: 30px;
  line-height: 30px;
  border: 1px solid #d6e9c6;
}
