<div class="login-content">
  <div [ngClass]="{'error-message' : error, 'success-message' : success}" *ngIf="showMessage">
    {{message}}
  </div>
  <div class="col-md-6 col-md-offset-3 ng-scope">
    <form [formGroup]="loginForm" (submit)="onSubmitLogin(loginForm)">
      <h1 class="login-header">Login</h1>
      <br>
      <div class="example-container">
        <mat-form-field>
          <span class="form-field">Username</span>
          <input #userName matInput formControlName="username">
          <mat-error class="error" *ngIf="!(userNameField.value)">Username is required</mat-error>
        </mat-form-field>
      </div>
      <br><br>
      <div class="example-container">
        <mat-form-field>
          <span class="form-field">Password</span>
          <input type="password" matInput formControlName="password">
          <mat-error class="error" *ngIf="!(passwordField.value)">Password is required</mat-error>
        </mat-form-field>
      </div>
      <br>
      <div>
        <button class="submit-button" type="submit" [disabled]="loginForm.invalid" mat-raised-button color="primary">
          Submit
        </button>
        <a routerLinkActive="active" [routerLink]="registration">Register</a>
      </div>
      <br>
    </form>
  </div>
</div>
