<form [formGroup]="optionForm">
  <div formArrayName="options"
       *ngFor="let otn of getOptionsArray(); let i = index;">
    <div [formGroupName]="i">
      <mat-form-field class="option-input">
        <input matInput placeholder="Option" formControlName="option">
      </mat-form-field>
      <button class="option-button" mat-raised-button color="primary" (click)="addOption()">Add</button>
      <button *ngIf="getOptionsArray().length > 1" mat-raised-button color="warn" (click)="removeOption(i)">Remove
      </button>
    </div>
  </div>
  <mat-form-field class="answer-drop-down">
    <mat-select placeholder="Answer" formControlName="isAnswer">
      <mat-option *ngFor="let otn of getOptionsArray();" [value]="otn.value['option']">{{otn.value['option']}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button class="option-button" mat-raised-button color="primary" [disabled]="optionForm.invalid">Save Question</button>
</form>
