<form [formGroup]="optionForm">
  <div formArrayName="options"
       *ngFor="let otn of getOptionsArray(); let i = index;">
    <div [formGroupName]="i">
      <mat-form-field class="option-input">
        <input matInput placeholder="Option" formControlName="option">
      </mat-form-field>
      <mat-form-field class="answer-drop-down">
        <mat-select placeholder="Answer" formControlName="isAnswer">
          <mat-option [value]="true">True</mat-option>
          <mat-option [value]="false">False</mat-option>
        </mat-select>
      </mat-form-field>
      <button class="option-button" mat-raised-button color="primary" (click)="addOption()">Add</button>
      <button *ngIf="getOptionsArray().length > 1" mat-raised-button color="warn" (click)="removeOption(i)">Remove
      </button>
    </div>
  </div>
  <button class="option-button" mat-raised-button color="primary">Save Question</button>
</form>
