.content {
  background-color: #eee;
  height: 100%;
  width: 100%;
  padding: 48px 0px 48px 0px;
}

.container {
  margin-right: 10%;
  margin-left: 10%;
  padding-left: 15px;
  padding-right: 15px;
}

.page-title {
  text-align: center;
}

.action-button {
  margin: 5px;
}

table {
  width: 100%;
}

.add-button {
  float: right;
}
